<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AutoSave</key>
	<true/>
	<key>FormatVersion</key>
	<integer>2</integer>
	<key>UUID</key>
	<string>999FBA38-4F8B-42A2-8BF9-8885F0A3171D</string>
</dict>
</plist>
