# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

#BenchmarkSystem
*.config

#UnitTestProject
*.config

# mstest test results
TestResults

glob:**/[Aa]pp.config

# LaTex files
build
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.pdf
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.config